@import (less) "../values.less";

.container {
    margin-top: 150px;
    margin-bottom: 80px;
    
    @media @tablet {
        width: 100vw;
    }
}

.container2 {
    margin-top: 0px;
    margin-bottom: 80px;
}


// main section
.aboutText {
    font-family: @sans-serif;
    font-weight: 300;
    font-size: 18px;
    display: block;
    margin: 50px 0 0 100px;
    max-width: 800px;
    line-height: 30px;

    .aboutSubhead {
        font-family: @serif2;
        font-size: @medium-large;
    }

    .graf {
        margin-bottom: @medium;

        .bulletSection {
            padding-left: 10px;
        }

        .highlight {
            color: @accent2;
            font-weight: 600;
        }
    }

    .graf2 {
        font-weight: 400;
        margin-bottom: 0px;
    }

    .subGraf {
        font-size: 15px;
        margin-top: 0;
    }

    @media @tablet{
        max-width: 80% !important;
    }

    @media @mobile {
        margin-left: 20px !important;
    }

    @media only screen and (max-width: 1000px) {
        margin-left: 50px;
    }
}

.photo {
    max-width: 800px;
    display: block;
    margin-left: 100px;

    @media @tablet {
        max-width: 80%;
    }

    @media @mobile {
        margin-left: 20px !important;
    }

    @media only screen and (max-width: 1000px) {
        margin-left: 50px;
    }
}

.link {
    color: black;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
        color: @accent;
    }
}

.divider {
    border-top: 1px solid rgb(195, 195, 195);
    max-width: 800px;
    margin-left: 100px;
    margin-top: @large;
    margin-bottom: @large;

    @media @mobile {
        margin-left: 20px !important;
    }

    @media only screen and (max-width: 1000px) {
        margin-left: 50px;
    }
}