@import (less) "../values.less";

.logo {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.intro {
    font-family: @serif;
    text-align: center;
}

.container {
    display: flex;
    align-self: flex-start;
    height: 100%;
}

.leftContainer {
    position: -webkit-sticky;
    position: sticky;
    width: 20%;
    height: 99%;
    top: 0;
}

.rightContainer {
    width: 80%;
    height: 100vh;
    border-left:  1px solid rgb(195, 195, 195);
}