@import (less) "../values.less";

.navbarContainer {
    display: flex;
    max-width: 80%;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 150px;
}

.link {
    color: black;
    font-family: @sans-serif;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        color: @accent2
    }

    .strikethrough {
        text-decoration: line-through !important;
        cursor: default;

        &:hover {
            color: black;
        }
    }
}