@import (less) "../styles.less";

.popup-wrapper {
  width: 400px;
  height: 550px;
  border-radius: 15px;
  overflow-y: scroll;
  z-index: 2;
  background-color: var(--background-color);
  border: 1px solid var(--color);
  overscroll-behavior: none;

  @media (max-width: 550px) {
    width: 380px;
  }

  @media (max-width: 420px) {
    width: 90%;
  }

  @media (max-height: 580px) {
    height: 300px;
  }

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .xmark {
    position: absolute;
    right: 20px;
    top: 25px;
    font-size: 1.6rem;
    cursor: pointer;
    color: var(--color);

    &:hover {
      color: @gray !important;
    }
  }
}

.popup-title-wrapper {
  margin-left: 30px;
  margin-bottom: 40px;
  margin-top: 50px;
  .popup-date {
    font-family: @sans-serif;
    font-size: @text-small;
    margin-bottom: 10px;
  }

  .popup-title {
    font-family: @serif;
    font-size: @text-large;
    font-style: italic;
    font-weight: 400;
    color: var(--color);
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 85%;
  }

  .popup-author {
    font-family: @sans-serif;
    color: var(--bookshelf-accent);
    margin-top: 5px;
    font-weight: 500;
    max-width: 85%;
  }

  .popup-image {
    width: 150px;
    border-radius: 10px;
    margin-top: 20px;
  }
}

.rating-wrapper {
  display: flex;
  margin-top: 15px;
  gap: 5px;
  font-size: 1.3rem;
  .star {
    width: 20px;
    height: 20px;
  }
  .star-solid {
    width: 20px;
    height: 20px;
  }
}

.popup-notes-kicker {
  font-family: @sans-serif;
  font-size: @text-reg;
  margin-top: 20px;
  margin-bottom: 5px;
}

.popup-notes {
  margin-top: 0;
  font-family: @sans-serif;
  max-width: 90%;
  font-size: @text-small;

  span {
    text-decoration: line-through;
  }
}

.popup-tags {
  display: flex;
  max-width: 95%;
  margin-top: 30px;
  justify-content: flex-end;
  font-family: @sans-serif;
  text-transform: uppercase;
  font-size: @text-xsmall;
  gap: 10px;
  min-width: 0;
  flex-wrap: wrap;

  .tags-form {
    padding: 5px 15px;
    border-radius: 15px;
    background-color: var(--bookshelf-accent);
    color: var(--background-color);
  }

  .tags-genre {
    padding: 5px 15px;
    border-radius: 15px;
    background-color: var(--bookshelf-main);
    color: var(--background-color);
  }
}

/* Info Popup */
.info-popup-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 550px;
  background-color: var(--background-color);
  border: 1px solid var(--color);
  border-radius: 15px;
}
