@import (less) "../values.less";

.intro {
    font-size: @large;
    font-family: @serif;
    margin-left: 100px;
    max-width: 80%;
}

.transition {
    text-align: center;
    font-family: @sans-serif;
    font-size: @small;
    text-transform: uppercase;
    letter-spacing: 2px;
}