@import (less) "../values.less";

//info section styling
.title {
    font-family: @serif;
    font-size:  @large;
    margin-top: 100px;
    margin-left: 100px;

    @media @mobile {
        margin-left: 20px !important;
        font-size: @medium-large;
    }

    @media only screen and (max-width: 1000px){
        margin-left: 50px;
    }
}

.infoContainer {
    display: flex;
    margin-left: 100px;
    gap: 100px;

    @media @mobile {
        margin-left: 20px !important;
    }

    @media only screen and (max-width: 1000px) {
        display: block;
        margin-left: 50px;
    }
}

.subTitle {
    font-family: @serif2;
    font-size: @medium;
    font-style: italic;
    font-weight: 400;
    margin-top: 0px;
}

.text {
    font-family: @sans-serif;
    font-size: @medium-small;
    font-weight: 300;
    margin-top: 5px;
    line-height: 30px;
    max-width: 900px;
}

.leftContainer {
    max-width: 550px;
}

.rightContainer {
    max-width: 550px;
}

.introContainer {
    margin-left: 100px;
    max-width: 900px;

    @media @mobile {
        margin-left: 20px !important;
    }

    @media only screen and (max-width: 1000px) {
        margin-left: 50px;
    }
}

.intro {
    margin-left: 100px;
    margin-top: 30px;

    @media @mobile {
        margin-left: 20px !important;
    }

    @media only screen and (max-width: 1000px) {
        margin-left: 50px;
    }
}

.divider {
    border-top: 1px solid rgb(195, 195, 195);
    max-width: 1000px;
    margin-left: 100px;
    margin-top: @large;

    @media @mobile {
        margin-left: 20px !important;
    }

    @media only screen and (max-width: 1000px) {
        margin-left: 50px;
    }
}

// project styling
.project {
    margin-left: 100px;
    margin-top: 80px;

    @media @mobile {
        margin-left: 20px !important;
    }

    @media only screen and (max-width: 1000px) {
        margin-left: 50px;
    }
}

.arrow {
    font-family: @sans-serif;
}

.link {
    color: black;
    margin-right: 5px;

    &:hover {
        color: @accent;
    }
}

.link2 {
    color: black;
    font-family: @sans-serif;
    font-size: @medium-small;
    font-style: italic;
    text-decoration: none;

    &:hover {
        color: @accent !important;
    }
}

.link3 {
    font-family: @sans-serif;
    font-size: @medium-small !important;
    font-style: italic;
    color: black;
    margin-top: @large;
    margin-left: 100px;
    text-decoration: none;

    &:hover {
        color: @accent;
    }

    @media @mobile {
        display: block;
        font-size: @small;
        max-width: 90%;
        margin-left: auto !important;
        margin-right: auto;
    }

    @media @tablet {
        max-width: 85%;
        margin-left: 50px;
    }
}

.strikethrough {
    text-decoration: line-through;
}

.projectImg {
    max-width: 400px;
    display: block;

    @media @mobile {
        margin-left: auto;
        margin-right: auto;
        width: 200px;
    }

    @media (max-width: 650px) {
        width: 300px;
    }
}

.projectImgTablet {
    max-width: 600px;
    display: block;

    @media @mobile {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    @media (max-width: 650px) {
        width: 90%;
    }
}

.projectImgDesktop {
    max-width: 700px;
    display: block;

    @media @mobile {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    @media (max-width: 750px) {
        width: 95%;
    }
}

.projectText {
    font-family: @sans-serif;
    font-size: @medium-small;
    font-style: normal;
    font-weight: 300;
    margin-top: @medium;
    line-height: 32px;
    max-width: 900px;

    @media @mobile {
        font-size: @small;
        line-height: 28px;
    }
}

.paywallmessage {
    font-family: @sans-serif;
    font-size: @small;
    font-style: normal;
    font-weight: 300;
    margin-top: @medium;
    max-width: 900px;   
}

.spacer {
    margin-top: 15px;
}

//other section styling
.otherSection {
    margin-left: 100px;
    margin-top: 50px;

    @media @tablet {
        margin-left: 50px;
    }

    @media @mobile {
        margin-left: 20px;
    }
}

.subTitle2 {
    font-family: @serif2;
    font-size: @medium-small;
    font-style: italic;
    font-weight: 300;
    margin-top: 0px;
}

.otherLink {
    font-family: @sans-serif;
    font-style: italic;
    font-size: @small;
    font-weight: 300;
    color: black;

    &:hover {
        color: @accent;
    }
}

.otherLink:after {
    content: "";
    display: block;
    height: 0;
    width: 1px;
    margin-bottom: 10px;
}

// styling for images
.media {
    max-width: 500px;
    margin-top: @medium;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;

    @media @tablet {
        max-width: 80%;
    }

    @media @mobile {
        max-width: 95%;
    }
}

.image {
    max-width: 80%;
    display: block;
    margin-bottom: @large;
    margin-top: @medium-large;

    @media @tablet {
        max-width: 95%;
    }
}

.image2 {
    max-width: 80%;
    margin-bottom: @small;
    display: block;

    @media @tablet {
        max-width: 95%;
    }    
}

.imageSmall {
    max-width: 500px;
    margin-top: @medium;
    display: block;

    @media @tablet {
        max-width: 80%;
    }

    @media @mobile {
        max-width: 95%;
    }
}

.illo {
    max-width: 300px;
    height: 500px;
    object-fit:cover;
    object-position: center;
    border-radius: 10px;
    margin-right: 10px;

    @media @tablet {
        display: block;
        margin-top: 10px;
        margin-right: none;
    }

    @media @mobile {
        width: 300px;
        height: 400px;
    }
}

.imageshadow {
    max-width: 500px;
    display: block;
    margin-top: @medium;
    margin-bottom: @medium;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    @media @tablet {
        max-width: 400px;
    }
    @media @mobile {
        max-width: 95%;
    }
}

.video {
    max-width: 500px;
    margin-top: @medium;
    display: block;

    @media @tablet {
        max-width: 70%;
    }

    @media @mobile {
        max-width: 95%;
    }
}