@import (less) "../values.less";

//info section styling
.title {
    font-family: @serif2;
    font-weight: 300;
    font-size:  @large;
    margin-top: 100px;
    margin-left: 100px;
    max-width: 80%;

    @media @mobile {
        margin-left: 20px !important;
        font-size: @medium-large;
    }

    @media only screen and (max-width: 1000px){
        margin-left: 50px;
    }
}

.infoContainer {
    display: flex;
    margin-left: 100px;
    gap: 100px;

    @media @mobile {
        margin-left: 20px !important;
    }

    @media only screen and (max-width: 1000px) {
        display: block;
        margin-left: 50px;
    }
}

.subTitle {
    font-family: @sans-serif;
    font-size: @medium;
    font-style: italic;
    font-weight: 300;
    margin-top: 0px;
    background: linear-gradient(to top, @accent2 40%, transparent 40%);
    width: fit-content;
}

.text {
    font-family: @sans-serif;
    font-size: @medium-small;
    font-weight: 300;
    margin-top: 5px;
    line-height: 30px;
    max-width: 900px;

    @media @tablet {
        max-width: 90%;
    }

    @media @mobile {
        font-size: @small;
        line-height: 23px;
    }
}

.leftContainer {
    max-width: 550px;
}

.rightContainer {
    max-width: 400px;
    padding-right: @medium;
}

.introContainer {
    margin-left: 100px;
    max-width: 900px;

    @media @mobile {
        margin-left: 20px !important;
    }

    @media only screen and (max-width: 1000px) {
        margin-left: 50px;
    }
}

.intro {
    margin-left: 100px;
    margin-top: 30px;

    @media @mobile {
        margin-left: 20px !important;
    }

    @media only screen and (max-width: 1000px) {
        margin-left: 50px;
    }
}

.divider {
    border-top: 1px solid rgb(195, 195, 195);
    max-width: 1000px;
    margin-left: 100px;
    margin-top: @large;

    @media @mobile {
        margin-left: 20px !important;
    }

    @media only screen and (max-width: 1000px) {
        margin-left: 50px;
    }
}

// project styling
.projectSection {
    margin-left: 100px;
    margin-top: 80px;

    @media @mobile {
        margin-left: 20px !important;
    }

    @media only screen and (max-width: 1000px) {
        margin-left: 50px;
    }
}

.arrow {
    font-family: @sans-serif;
}

.imagecontainer {
    display: flex;
    gap: @medium;
    max-width: 700px;

    @media only screen and (max-width: 800px) {
       display: block;
       max-width: 100%;
    }
}

.imageflex {
   max-width: 350px;

   @media only screen and (max-width: 800px) {
    max-width: 90%;
    }
}

.image {
    margin-top: @medium;
    max-width: 700px;
    height: auto;

    @media only screen and (max-width: 800px) {
        max-width: 90%;
    }
}

.borderimage {
    border: 1px solid gray !important;
    height: fit-content !important;
}

.halfimage {
    margin-top: @medium;
    max-width: 350px;
    height: auto;

    @media only screen and (max-width: 800px) {
        max-width: 90%;
    } 
}

.link {
    color: black;
    margin-right: 5px;

    &:hover {
        color: @accent;
    }
}

.strikethrough {
    text-decoration: line-through;
}

.projectText {
    font-family: @sans-serif;
    font-size: @medium-small;
    font-style: normal;
    font-weight: 300;
    margin-top: @medium;
    line-height: 32px;
    max-width: 900px;

    @media @tablet {
        max-width: 90%;
    }
    @media @mobile {
        font-size: @small;
        line-height: 28px;
    }
}

.paywallmessage {
    font-family: @sans-serif;
    font-size: @small;
    font-style: normal;
    font-weight: 300;
    margin-top: @medium;
    margin-left: 100px;
    max-width: 900px;

    @media @mobile {
        margin-left: 20px !important;
    }

    @media only screen and (max-width: 1000px){
        margin-left: 50px;
    }
}

.spacer {
    margin-top: 15px;
}