/* import fonts */
@import
url("https://fonts.googleapis.com/css?family=Montserrat:400,600i,700");

/* page heading styling */
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    padding-top: 100px;
    margin-left: 23%;
    font-size: 30px;
    font-weight: 600;
}

/* navigation bar styling */
.navbar {
    list-style-type: none;
    text-decoration: none;
    background: black;
    padding: 20px;
    width: 100%;
    position: fixed;
    top: -20px;
    left: 0px;
}

.navbar li {
    margin-right: 15px;
    display: inline;
    font-family: "Montserrat";
    font-size: 14px;

}

.navbar li a{
    text-decoration: none;
    color: white;
}

.navbar li a:hover{
    color: #9dadc2;
}

.navbar li a.active {
    text-decoration: line-through;
    color: #9dadc2;
}

/* styling for intro animation */ 
#intro {
    padding-top: 20px;
    width: 100%;
}

/* styling for portfolio */
.work {
    display: flex;
    justify-content: center;
}

.cover {
    padding-top: 70px;
    width: 420px;
    height: 260px;
    padding-right: 10px;
    padding-left: 10px;
}

.container {
  position: relative;
}

.container:hover .overlay{
  opacity: 1;
}

.overlay {
  position: absolute;
  background-color: #9dadc2;
  width: 420px;
  height: 260px;
  opacity: 0;
  transition: .5s ease;
  margin-left: 10px;
  margin-top: -265px;
}

.text {
  font-family: "Montserrat";
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}



/* styling for profile photo */

#profile {
    padding-top: 40px;
    padding-bottom: 50px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* styling for bio */

#text1 {
    text-align: left;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: lighter;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #575757;
    padding-bottom: 15px;
}

.text2 {
    text-align: left;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: lighter;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #575757;
}

#chat {
    color: #575757;
}

#chat:hover {
    color: #9dadc2;
}

.button {
    background-color: black;
    border-radius: 50px;
    color: white;
    font-family: "Montserrat";
    font-size: 14px;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 20%;
    margin-left: 47%;
    margin-right: 40%;
}

.button:hover {
    background-color: #9dadc2;
}

/* styling for form */

.form {
    display: block;
    text-align: center;
}

form {
    padding-top: 50px;
    z-index: -5;
    display: inline-block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  
  label {
    color: #5c5c5a;
    font-family: "Montserrat";
  }
  
  input {
    border: 1px solid #919191;
    padding: 10px;
    font-family: "Montserrat";
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  input:focus {
    border: 4px solid #9dadc2;
  }
  
  textarea {
    border: 1px solid #919191;
    font-family: "Montserrat";
    height: 150px;
    width: 320px;
    margin-top: 10px;
    padding: 10px;
  }
  
  textarea:focus {
    border: 4px solid #9dadc2;
  }

  .firstname {
    width: 150px; 
    margin-right: 10px;
  }
  
  .lastname {
    width: 150px;
  }
  
  .email {
    width: 300px;
  }
  
  .phone {
    width: 200px;
}

  .message {
    margin-bottom: 15px;
  }


  #email {
      margin-bottom: 30px;
  }

  .button1 {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  .button1:hover {
    background-color: #9dadc2;
  }
  
  .button1:active {
    background-color: #9dadc2;
    box-shadow: 0 3px #f2f2f2;
    transform: translateY(4px);
  }

  /* youtube video styling */

  .vid {
      padding-top: 20px;
      padding-bottom: 50px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  /* nbn page styling */
  #nbn {
    padding-top: 40px;
    padding-bottom: 50px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #button2 {
    background-color: black;
    border-radius: 50px;
    color: white;
    font-family: "Montserrat";
    font-size: 14px;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 20%;
    margin-left: 44%;
    margin-right: 30%;
}

#button2:hover {
    background-color: #9dadc2;
}

.mag {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.text3 {
  text-align: left;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: bold;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

.redirected {
  display: flex;
  justify-content: center;
}

.redirected1 {
  width: 520px;
  height: 350px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 120px;
}

.tweets {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#text {
  text-align: center;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: lighter;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #575757;
  margin-top: 50px;
}

hr {
  margin-top: 60px;
  border-top: #bababa
}

/* geofilter styling */

.geofilters {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.geofilter {
  width: 15%;
}