@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

// media queries
@desktop: ~"(min-width: 1200px)";
@breakpoint: ~"(max-width: 1000px)";
@breakpoint2: ~"(max-width: 750px)";
@mobile: ~"(max-width: 450px)";
@breakpoint3: ~"(max-width: 410px)";

// colors
@black: black;
@white: white;
@light: #f6f7ed;
@dark: #282928;
@gray: #8b8b8b;
@neongreen: #e0f961;
@neonpurple: #8f00ff;

//fonts
@sans-serif: "Montserrat", Helvetica, sans-serif;
@serif: "Instrument Serif", Georgia, serif;

// text sizing
@text-xlarge: 4rem;
@text-large: 2.5rem;
@text-reg: 0.9rem;
@text-small: 0.85rem;
@text-xsmall: 0.8rem;
