@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// media queries
@desktop: ~'(min-width: 1300px)';
@mobile: ~'(max-width: 480px)';
@tablet: ~'(max-width: 1300px)';
@tablet-horiz: ~'(max-width: 1024px)';
@phone-horiz: ~'(max-width:670px)';
@text-width: ~'(max-width: 730px)';
@widthmax: ~'(max-width: 1000000px)';

// colors
@main: black;
@accent: rgb(136, 136, 136);
@accent2: #89a3b4;

//fonts
@sans-serif: 'Open Sans', Helvetica, sans-serif;
@serif: 'Old Standard TT', Georgia, serif;
@serif2: 'Playfair Display', Georgia, serif;

// sizing
@large: 50px;
@medium-large: 35px;
@medium: 25px;
@medium-small: 20px;
@small: 15px;
